<template>
  <div class="intro">
    <img
      alt="dewadg"
      class="avatar"
      src="https://0.gravatar.com/avatar/3b59be1680752b48bd98eaaecc64c970?s=120"
    >
    <div class="content">
      <h1>Adhyaksa Jaya</h1>
      <h3>
        Software Engineer @ <a href="https://warungpintar.co.id/">Warung Pintar</a>
      </h3>
      <p>
        Trying to write code that (hopefully) solve problems.
      </p>
      <ul class="links">
        <li
          v-for="link in links"
          :key="link.alt"
        >
          <a
            :href="link.to"
            :title="link.alt"
            target="_blank"
          >
            <i :class="link.icon" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      links: [
        {
          icon: 'fa fa-envelope',
          alt: 'Email me!',
          to: 'mailto:dewadg@dewadg.id'
        },
        {
          icon: 'fa fa-github',
          alt: 'GitHub',
          to: 'https://github.com/dewadg'
        },
        {
          icon: 'fa fa-linkedin',
          alt: 'LinkedIn',
          to: 'https://www.linkedin.com/in/dewadg'
        },
        {
          icon: 'fa fa-twitter',
          alt: 'Twitter',
          to: 'https://twitter.com/dewadg'
        },
        {
          icon: 'fa fa-file',
          alt: 'My resume',
          to: 'https://drive.google.com/file/d/10ie0TeopcUE3b9qUHzpAP8YVGTQAhYcL/view?usp=sharing'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/variables.scss';

.intro {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;

  .avatar {
    border-radius: 60px;
    margin-right: 2rem;
  }

  h1 {
    margin: 0 0 0.125rem 0;
    font-size: 3rem;
    font-weight: normal;
    color: $secondary;
  }

  h3 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
  }

  p {
    margin: 0 0 1.5rem 0;
    line-height: 1.6rem;
  }

  .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }

      .fa {
        font-size: 1.5rem;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .intro {
    flex-direction: column;
    text-align: center;

    .avatar {
      margin: 0 0 1rem 0;
    }

    .links {
      justify-content: center;
    }
  }
}
</style>
