<template>
  <div class="latest-tweet">
    <i class="fa fa-twitter" />
    <p v-if="isLatestTweetLoading">
      Wait, don't leave yet!
    </p>
    <p v-else-if="!isLatestTweetLoading && !latestTweetError">
      "{{ latestTweet.text }}" - <a :href="`https://twitter.com/${latestTweet.user}`">@{{ latestTweet.user }}</a>
    </p>
    <p v-if="latestTweetError">
      Sorry, error while fetching my lastest tweet :(
    </p>
  </div>
</template>

<script>
import { onMounted } from 'vue'
import { useLatestTweet } from '@/composables/tweet'

export default {
  setup () {
    const {
      isLatestTweetLoading,
      latestTweet,
      latestTweetError,
      fetchLatestTweet
    } = useLatestTweet()

    onMounted(() => {
      fetchLatestTweet()
    })

    return {
      isLatestTweetLoading,
      latestTweet,
      latestTweetError,
      fetchLatestTweet
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/variables.scss';

.latest-tweet {
  text-align: center;

  .fa {
    margin-bottom: 0.6rem;
  }

  p {
    margin: 0 0 0.6rem 0;
  }

  a {
    color: $secondary;
  }
}
</style>
