<template>
  <div id="app">
    <DgIntro />
    <DgTweet />
  </div>
</template>

<script>
import DgIntro from '@/components/DgIntro'
import DgTweet from '@/components/DgTweet'

export default {
  name: 'App',

  components: {
    DgIntro,
    DgTweet
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import '@/assets/css/variables.scss';

* {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 0.05rem;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

html,
body {
  height: 100%;
}

body {
  background: $primary;
  color: #fafafa;
  margin: 0;
  padding: 0;
}

#app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 100%;
  margin: 0 auto;
}

@media all and (max-width: 720px) {
  * {
    font-size: 13px;
  }

  #app {
    width: 100%;
    padding: 0 2rem;
  }
}
</style>
